*{
    box-sizing: border-box;
}


table{
    width: 100%;
    border-spacing: 5px;
    margin-top: 7px;
}

table, th, td {
    border: 1px  solid black;
    padding: 5px;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}
h1 {
margin: 10px;
text-align: center;
}
th {
    background-color: crimson;
    color: white;
}
tr:hover {
    background-color: lightgoldenrodyellow;
}
.form {
    border: 3px solid lightgray;
    display: none;


}
.form input[type=text],input[type=number],input[type=date]{
    width: 98%;
    padding: 10px;
    margin: 10px;
}
label{
    padding: 12px;

}
.button1 {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 98%;
}
.button2{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 99%;
}
